volumes:
  pg_data:
  static_data:

services:
  db-leaf-flow:
    image: postgres:17
    container_name: db-leaf-flow
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5454:5432"
    restart: always

  leaf-flow:
    image: mist3s/leaf-flow:prod
    container_name: leaf-flow
    restart: always
    env_file: .env
    volumes:
      - static_data:/app/static
    environment:
      - STATIC_FILES_PATH=/app/static
    depends_on:
      - db-leaf-flow
    deploy:
      resources:
        limits:
          memory: 3G

  leaf-flow-bot:
    image: mist3s/leaf-flow-bot:prod
    container_name: leaf-flow-bot
    restart: always
    env_file: .env
    volumes:
      - static_data:/app/static
    environment:
      - STATIC_FILES_PATH=/app/static
    depends_on:
      - leaf-flow
    deploy:
      resources:
        limits:
          memory: 3G

  leaf-flow-nginx:
    image: mist3s/leaf-flow-nginx:prod
    container_name: leaf-flow-nginx
    ports:
      - "5025:80"
    depends_on:
      - leaf-flow
    volumes:
      - static_data:/app/static
    env_file: .env
    restart: always

  leaf-flow-web-nginx:
    image: mist3s/leaf-flow-web-nginx:prod
    container_name: leaf-flow-web-nginx
    ports:
      - "5027:80"
    depends_on:
      - leaf-flow
    restart: always

  leaf-flow-redis:
    image: redis:7-alpine
    container_name: leaf-flow-redis
    command: [ "redis-server", "--save", "", "--appendonly", "no" ]
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping | grep PONG" ]
      interval: 5s
      timeout: 3s
      retries: 5
    restart: always

  leaf-flow-outbox-worker-prod:
    image: mist3s/leaf-flow:prod
    container_name: leaf-flow-outbox-worker-prod
    restart: always
    env_file: .env
    command: ["python", "-m", "leaf_flow.outbox_worker"]
    depends_on:
      - db-leaf-flow
      - leaf-flow-redis
    deploy:
      resources:
        limits:
          memory: 256M

  leaf-flow-notifications-worker:
    image: mist3s/leaf-flow-notifications-worker:prod
    container_name: leaf-flow-notifications-worker
    restart: always
    env_file: .env
    depends_on:
      leaf-flow-redis:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 512M