volumes:
  pg_data:
  static_data:

services:
  db-leaf-flow-stage:
    image: postgres:17
    container_name: db-leaf-flow-stage
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5455:5432"
    restart: always

  leaf-flow-stage:
    image: mist3s/leaf-flow:stage
    container_name: leaf-flow-stage
    restart: always
    env_file: .env
    volumes:
      - static_data:/app/static
    environment:
      - STATIC_FILES_PATH=/app/static
    depends_on:
      - db-leaf-flow-stage
    deploy:
      resources:
        limits:
          memory: 1G

  leaf-flow-bot-stage:
    image: mist3s/leaf-flow-bot:stage
    container_name: leaf-flow-bot-stage
    restart: always
    env_file: .env
    volumes:
      - static_data:/app/static
    environment:
      - STATIC_FILES_PATH=/app/static
    depends_on:
      - leaf-flow-stage
    deploy:
      resources:
        limits:
          memory: 1G

  leaf-flow-nginx-stage:
    image: mist3s/leaf-flow-nginx:stage
    container_name: leaf-flow-nginx-stage
    ports:
      - "5015:80"
    depends_on:
      - leaf-flow-stage
    volumes:
      - static_data:/app/static
    env_file: .env
    restart: always

  leaf-flow-web-nginx-stage:
    image: mist3s/leaf-flow-web-nginx:stage
    container_name: leaf-flow-web-nginx-stage
    ports:
      - "5026:80"
    restart: always

  leaf-flow-redis-stage:
    image: redis:7-alpine
    container_name: leaf-flow-redis-stage
    command: [ "redis-server", "--save", "", "--appendonly", "no" ]
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping | grep PONG" ]
      interval: 5s
      timeout: 3s
      retries: 5
    restart: always

  leaf-flow-outbox-worker-stage:
    image: mist3s/leaf-flow:stage
    container_name: leaf-flow-outbox-worker-stage
    restart: always
    env_file: .env
    command: ["python", "-m", "leaf_flow.outbox_worker"]
    depends_on:
      - db-leaf-flow-stage
      - leaf-flow-redis-stage
    deploy:
      resources:
        limits:
          memory: 256M

  leaf-flow-notifications-worker-stage:
    image: mist3s/leaf-flow-notifications-worker:stage
    container_name: leaf-flow-notifications-worker-stage
    restart: always
    env_file: .env
    depends_on:
      leaf-flow-redis-stage:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 512M